.wrapper {
    margin: 25px;
}

table {
    width: 100%;
    position: relative;
    height: 400px;
    border-collapse: collapse;
    color: black;
}

table > thead {
    display: table;
    position: relative;
    width: calc(100% - 15px);
}

table > tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

table > tbody > tr, table > thead > tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

table > thead > tr > th:first-child, table > tbody > tr > td:first-child {width: 20%}
table > thead > tr > th:nth-child(2), table > tbody > tr > td:nth-child(2) {width: 20%}
table > thead > tr > th:nth-child(3), table > tbody > tr > td:nth-child(3) {width: 10%} 
table > thead > tr > th:nth-child(4), table > tbody > tr > td:nth-child(4) {width: 20%}
table > thead > tr > th:nth-child(5), table > tbody > tr > td:nth-child(5) {width: 10%}
table > thead > tr > th:last-child, table > tbody > tr > td:last-child {width: 20%}

table > caption {
    color: black;
}

caption, th, td {
    padding: 1rem;
}

caption, th {
    text-align: left;
}

caption {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th {
    background: #B85042;
}

td:nth-of-type(1), td:nth-of-type(4), td:nth-of-type(6) {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tr:nth-of-type(1n) {
    background: #A7BEAE;
}

tr:nth-of-type(2n) {
    background: #E7E8D1;
}

@media (max-width: 1477px) {
    table {
        height: auto;
    }

    table > thead {
        display: table-header-group;
        position: initial;
        width: auto;
    }

    table > tbody > tr, table > thead > tr {
        display: table-row;
        table-layout: initial;
        width: auto;
    }

    table > thead > tr > th:first-child, table > tbody > tr > td:first-child {width: auto}
    table > thead > tr > th:nth-child(2), table > tbody > tr > td:nth-child(2) {width: auto}
    table > thead > tr > th:nth-child(3), table > tbody > tr > td:nth-child(3) {width: auto} 
    table > thead > tr > th:nth-child(4), table > tbody > tr > td:nth-child(4) {width: auto}
    table > thead > tr > th:nth-child(5), table > tbody > tr > td:nth-child(5) {width: auto}
    table > thead > tr > th:last-child, table > tbody > tr > td:last-child {width: auto}

    th {
        display: none;
    }

    td:nth-of-type(1), td:nth-of-type(4), td:nth-of-type(6) {
        max-width: none;
    }

    td {
        /*display: block;*/ /*another way*/
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

    td:first-child {
        padding-top: 2rem;
    }

    td:last-child {
        padding-bottom: 2rem;
    }

    td:nth-of-type(1), td:nth-of-type(4), td:nth-of-type(6) {
        max-width: none;
        text-overflow: initial;
        overflow: initial;
        white-space: initial;
        word-break: break-all;
    }
}